
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #235a5b; /* Color del encabezado */
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e6f2f2; /* Fondo suave que combina con #235a5b */
    padding: 10px;
    z-index: 1000;
    text-align: center;
    border-bottom: 2px solid #235a5b;
}

.main-content {
    margin-top: 120px; /* Compensar el header fijo */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 800px;
    gap: 10px;
}

.input-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

.textarea {
    flex: 1;
    min-width: 0;
    width: 100%;
    height: 400px;
    min-width: 100px;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid #235a5b;
    color: #235a5b;
}

.mid-button-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    
    margin-left: 10px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 100%;
    flex-direction: row;
}

.table-container-wrapper {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 150%;
    margin-right: 10px;

}

.table-container {
    /* flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; */
    display: flex;
    margin: 2px 2px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background-color: #fff; /* Fondo del contenedor */
}

/* Botones generales (incluyendo el de Simulate MIPS y los botones del Debugger) */
button, .debugger-button {
    padding: 10px 20px;
    background-color: #235a5b; /* Color principal del botón */
    color: white;
    border: none;
    cursor: pointer;
    max-height: 60px;
    border-radius: 5px;
    font-size: larger;
}

button:hover, .debugger-button:hover {
    background-color: #1e4f50; /* Color más oscuro al pasar el ratón */
}

button:active, .debugger-button:active {
    background-color: #194444; /* Color aún más oscuro al hacer clic */
}

button:disabled, .debugger-button:disabled {
    background-color: #82c9c7; /* Color deshabilitado para los botones */
    cursor: not-allowed;
}

#dropArea {
    border: 2px dashed #235a5b; /* Borde con el color principal */
    padding: 20px;
    text-align: center;
    color: #235a5b;
}

/* Highlight style for the drop area */
#dropArea.highlight {
    background-color: #e6f2f2; /* Fondo suave al arrastrar un archivo */
}

.instruction {
    margin-bottom: 5px;
}

/* DEBUGGER SPECIFIC STYLES */

#debugger {
    background-color: #f0f8f8; /* Fondo suave para el debugger */
    padding: 20px;
    border: 2px solid #235a5b;
    border-radius: 5px;
    text-align: center;
    flex-grow: 0;
    height: fit-content;
}

#debugger h2 {
    display: block;
    width: fit-content;
    margin: 10px auto;
    color: #235a5b;
}

.debugger-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.debugger-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.debugger-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    width: 100%;
    color: #235a5b;
}

.debugger-info p {
    margin: 0;
}

.table-scroll {
    max-height: 300px; /* Ajusta la altura del cuerpo desplazable */
    overflow-y: auto;
}

/* Estilos adicionales para las tablas */
.table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

.table tbody td, .table thead th {
    text-align: center;
    padding: 10px;
    border: 1px solid #2e344d;
}

.table-scroll::-webkit-scrollbar {
    width: 8px;
}


.table-scroll::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.table-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.table thead th {
    font-size: 14px; /* Ajusta el tamaño de la fuente del encabezado */
    position: sticky;
    top: 0;
    z-index: 2; /* Encabezado siempre visible */
    background-color: #235a5b; /* Color del encabezado */
    color: white; /* Color del texto */
}
/* ------------------- */
.table-container {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.table {
}

.table {
    color: #235a5b;
    background-color: rgba(255, 255, 255, 0.8);
    border-collapse: collapse;
    width: 100%;
}

.table th {
    background-color: #235a5b;
    color: #ffffff;
    text-transform: uppercase;
}

.table td, .table th {
    border: 1px solid #2e344d;
    padding: 5px
;}  

.image-container { 
    position: relative;
    display: inline-block;
    width: 100%;
    margin-left: 72px;
.image-container { 
    position: relative;
    display: inline-block;
    width: 100%;
    margin-left: 72px;
}


.centered-image {
    max-width: 90%; /* Se adapta al ancho del viewport */
    max-height: 90%; /* Se adapta a la altura del viewport */
    object-fit: contain; /* Escala la imagen proporcionalmente */
    border: 2px solid #235a5b; /* Opcional: Borde decorativo */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Opcional: Sombra para destacar */
}

.ind_control {
    position: absolute;
    z-index: 50;
    height: 17.5%;
    width: 12.5%;
    top: 3.5%;
    left: 38.7%;
    opacity: 30%;
    border-radius: 5px;
}

.ind_pc {
    position: absolute;
    z-index: 50;
    height: 15%;
    width: 2.4%;
    top: 33%;
    left: 2.4%;
    opacity: 30%;
    border-radius: 5px;
}

.ind_registers {
    position: absolute;
    z-index: 50;
    height: 35%;
    width: 9%;
    top: 35%;
    left: 51%;
    opacity: 30%;
    border-radius: 5px;
}

.ind_alucontrol {
    position: absolute;
    z-index: 50;
    height: 9.5%;
    width: 6.4%;
    top: 84.3%;
    left: 67.2%;
    opacity: 30%;
    border-radius: 5px;
}

.ind_alu {
    position: absolute;
    z-index: 50;
    height: 18.5%;
    width: 6.2%;
    top: 45.5%;
    left: 71.3%;
    opacity: 30%;
    border-radius: 5px;
}

.ind_instregisters {
    position: absolute;
    z-index: 50;
    height: 29.5%;
    width: 11%;
    top: 40.5%;
    left: 29.4%;
    opacity: 30%;
    border-radius: 5px;
}

.btn-overlay {
    position: absolute;
    z-index: 50;
    max-height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 5px 10px;
}
}
